{%- import 'includes/regalloc_macros.c.jinja' as helpers -%}
{% filter comment_wrap %}


{% endfilter %}
{% include 'includes/twelve_regs_conflict_validation.c.jinja' %}

{% filter comment_wrap %}



{% endfilter %}
{{t1|default("int")}} thirteen = {{ thirteen_expr }};
{{t2|default("int")}} fourteen = thirteen + 1;
{{t3|default("int")}} fifteen = 28 - thirteen;
{{t4|default("int")}} sixteen = fourteen + 2;
{{t5|default("int")}} seventeen = 4 + thirteen;
{{t6|default("int")}} eighteen = 32 - fourteen;
{{t7|default("int")}} nineteen = 35 - sixteen;
{{t1|default("int")}} twenty = fifteen + 5;
{{t2|default("int")}} twenty_one = thirteen * 2 - 5;
{{t3|default("int")}} twenty_two = fifteen + 7;
{% if all_types %}
{{t8}} twenty_three = &glob_23;
{{t9}} twenty_four = &glob_24;
{% else %}
int twenty_three = 6 + seventeen;
int twenty_four = thirteen + 11;
{% endif %}



{{check_fn|default("check_12_ints")}}(thirteen, fourteen, fifteen, sixteen, seventeen, eighteen,
              nineteen, twenty, twenty_one, twenty_two, twenty_three,
              twenty_four, 13);
